<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="color-light" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="nav-items">
      <img class="header-img" src="../../../../assets/logo.png" alt="" />
      <ion-label>RESS</ion-label>
      <img class="header-img" src="../../../../assets/CRIS_logo.png" alt="" />
    </div>
    <ion-buttons class="color-light" slot="end">
        <ion-back-button defaultHref="default/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="tabChange($event)" value="MONTHLY">
    <ion-segment-button value="MONTHLY">
      <ion-label class="ion-text-capitalize label-text">Monthly</ion-label>
    </ion-segment-button>
    <ion-segment-button value="YEARLY">
      <ion-label class="ion-text-capitalize label-text">Yearly</ion-label>
    </ion-segment-button>
    <ion-segment-button value="SUPPLEMENTARY">
      <ion-label class="ion-text-capitalize label-text">Supplementary</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
<ng-container *ngIf="segmentActive == 'MONTHLY'">
    <app-monthly-salary></app-monthly-salary>
</ng-container>
<ng-container *ngIf="segmentActive == 'YEARLY'">
  <app-yearly-salary></app-yearly-salary>
</ng-container>
<ng-container *ngIf="segmentActive == 'SUPPLEMENTARY'">
<app-supplementary-salary></app-supplementary-salary>
</ng-container>


</ion-content>
