<ion-content>
  <div class="content">
    <img width="100" height="100" src="../../assets/logo.png" alt="" />
    <ion-label class="label-text"><h1>Indian Railways</h1></ion-label>
    <ion-label class="label-text ion-text-center"><h2>Welcome you <br> to</h2></ion-label>
    <ion-label class="label-text ion-text-center"><h1>Railway Employee Self Service</h1></ion-label>
    <img width="70" height="70" src="../../assets/CRIS_logo.png" alt="" />
    <ion-label class="label-text ion-text-center"><h1>Centre for Railway Information Systems</h1></ion-label>
    <ion-label class="label-text ion-text-center"><h2>(All Organisation of the Ministry of Railways, Govt. of India)</h2></ion-label>
  </div>
</ion-content>
