.header-img {
    height: 50px;
  }
  .menu-header-part{
    display: flex;
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }